<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Petshop Dashboard</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/dashboard.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/header_home.css}">
    <link rel="stylesheet" th:href="@{/css/agua.css}">
</head>
<body>
<header class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand">

            <h1 class="d-inline"><i class="fas fa-paw"></i></h1>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}">
                        <i class="fas fa-sign-out-alt"></i> Sair
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div class="watermark-container">
    <img src="../images/water.jpg" alt="Marca d'água" class="watermark">
</div>
<div class="container">
    <div class="mt-3"></div>
    <br>
    <h1 class="mt-5 text-center" style="color:#ffffff">Dashboard</h1>
    <div class="row mt-4 d-flex justify-content-center">
        <div class="col-lg-3 col-md-6 mb-4 mt-5"><br><br><br>
            <div class="card shadow-sm mt-3">
                <div class="card-body text-center">
                    <h5 class="card-title">Agendamentos</h5>
                    <a th:href="@{/agendamentos/cadastrar}" class="btn btn-primary">Cadastrar</a>
                    <a th:href="@{/agendamentos/listar}" class="btn btn-secondary">Listar</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row  d-flex justify-content-center">
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h5 class="card-title">Clientes</h5>
                    <a th:href="@{/clientes/cadastrar}" class="btn btn-primary">Cadastrar</a>
                    <a th:href="@{/clientes/listar}" class="btn btn-secondary">Listar</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h5 class="card-title">Pets</h5>
                    <a th:href="@{/pets/cadastrar}" class="btn btn-primary">Cadastrar</a>
                    <a th:href="@{/pets/listar}" class="btn btn-secondary">Listar</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h5 class="card-title">Produtos</h5>
                    <a th:href="@{/produtos/cadastrar}" class="btn btn-primary">Cadastrar</a>
                    <a th:href="@{/produtos/listar}" class="btn btn-secondary">Listar</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h5 class="card-title">Serviços</h5>
                    <a th:href="@{/servicos/cadastrar}" class="btn btn-primary">Cadastrar</a>
                    <a th:href="@{/servicos/listar}" class="btn btn-secondary">Listar</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h5 class="card-title">Relatórios</h5>
                    <a th:href="@{/agendamentos/horariosMaisAgendados}"class="btn btn-secondary">Listar</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>





