<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Listar</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/header_home.css}">
</head>
<body>
<header class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Petshop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" th:href="@{/dashboard}"><i class="fa-solid fa-clipboard"></i> Dashboard</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/pets/cadastrar}">Cadastrar</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/pets/listar}">Listar</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/logout}"><i class="fas fa-sign-out-alt"></i> Sair</a></li>
            </ul>
        </div>
    </nav>
</header>
<main class="container">
    <h1 class="mt-5">Lista de Pets</h1>
    <a class="btn btn-primary mb-3" th:href="@{/pets/cadastrar}"><i class="fa-solid fa-square-plus"></i>&nbsp;
        Pet</a>

    <div class="d-block d-md-none">
        <ul class="list-group">
            <tr th:each="pet : ${pet}">
                <li class="list-group-item">
                    <strong>Nome:</strong> <span th:text="${pet.nome}"></span><br>
                    <strong>Espécie:</strong> <span th:text="${pet.especie}"></span><br>
                    <strong>Raça:</strong> <span th:text="${pet.raca}"></span><br>
                    <strong>Idade:</strong> <span th:text="${pet.idade}"></span><br>
                    <strong>Cliente:</strong> <span th:text="${pet.cliente.nome}"></span><br>
                    <a th:href="@{/pets/editar/{id}(id=${pet.id})}" class="btn btn-warning btn-sm">Editar</a>
                    <a th:href="@{/pets/excluir/{id}(id=${pet.id})}" class="btn btn-danger btn-sm">Excluir</a>
                </li>
            </tr>
        </ul>
    </div>

    <div class="table-responsive d-none d-md-block">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Nome</th>
                <th>Espécie</th>
                <th>Raça</th>
                <th>Idade</th>
                <th>Cliente</th>
                <th>Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="pet : ${pet}">
                <td th:text="${pet.nome}"></td>
                <td th:text="${pet.especie}"></td>
                <td th:text="${pet.raca}"></td>
                <td th:text="${pet.idade}"></td>
                <td th:text="${pet.cliente.nome}"></td>
                <td>
                    <a th:href="@{/pets/editar/{id}(id=${pet.id})}" class="btn btn-warning">Editar</a>
                    <a th:href="@{/pets/excluir/{id}(id=${pet.id})}" class="btn btn-danger">Excluir</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>




