#corpo {
    background-image: url('../images/header.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    height: 100vh;
}

/* Para dispositivos móveis */
@media (max-width: 767px) {
    #corpo {
        background-size: cover; /* Garante que a imagem de fundo ocupe toda a tela */
        background-position: center center;
        height: 100vh;
    }
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa; /* Um fundo claro e neutro */
}

.navbar {
    background-color: #28a745;
}

.navbar-brand, .nav-link {
    color: #fff;
}

.header-bg {
    background: linear-gradient(to right, #28a745, #81C784);
    color: white;
}

.text-shadow {
    text-shadow: 2px 2px 6px rgba(0, 0, 255, 0.5);
}

.card {
    border: none;
    border-radius: 12px;
}

.card-body {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    color: black;
}

.custom-image {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.custom-image:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.btn-primary {
    background-color: #FF5722;
    border: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-primary:hover {
    background-color: #E64A19;
    transform: translateY(-2px);
}

.btn-light {
    background-color: #f8f9fa;
    color: #343a40;
}

footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 20px 0;
}

.transition-transform {
    transition: transform 0.3s ease;
}

.transition-transform:hover {
    transform: translateY(-4px);
}


p, h1, h2, a {
    font-family: 'Roboto', sans-serif;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}


h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
}


h2 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 1rem;
}


p {
    font-size: 1.125rem;
    line-height: 1.6; /
    margin-bottom: 1rem;
}


a {
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s ease;
}

a:hover {
    color: #0056b3;
}
.shadow-text {
    color: white;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}


.navbar-nav .nav-item .nav-link {
            position: relative;
            color: #34495e;
            font-size: 18px;
            padding: 10px 15px;
            transition: color 0.3s ease;
        }

.navbar-nav .nav-item .nav-link:hover {
            color: #ff0606;
        }

.navbar-nav .nav-item .nav-link::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 2px;
            background-color: #ff0606;
            transition: width 0.3s ease;
        }

.navbar-nav .nav-item .nav-link:hover::before {
            width: 100%;
        }

.navbar-nav .nav-item .nav-link::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 0;
            background-color: rgba(230, 126, 34, 0.1);
            z-index: -1;
            transition: height 0.3s ease;
        }

.navbar-nav .nav-item .nav-link:hover::after {
            height: 100%;
        }
.table-striped tbody tr:nth-of-type(odd) {
            background-color: rgba(0, 0, 0, 0.05);
        }


@media (max-width: 767px) {
    .shadow-text {
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
