<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Listar</title>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
	<link rel="stylesheet" type="text/css" th:href="@{/css/header_home.css}">
</head>
<body>
<header class="header">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">Petshop</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link" th:href="@{/dashboard}"><i class="fa-solid fa-clipboard"></i> Dashboard</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/agendamentos/cadastrar}">Cadastrar</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/agendamentos/listar}">Listar</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/logout}"><i class="fas fa-sign-out-alt"></i> Sair</a></li>
			</ul>
		</div>
	</nav>
</header>
<div class="container-fluid mt-4">
	<a class="btn btn-primary mb-3" th:href="@{/agendamentos/cadastrar}"><i class="fa-solid fa-square-plus"></i><span>&nbsp;
 Agendamento</span></a>
	<form action="#" th:action="@{/agendamentos/listarPorNome}" method="get" class="form-inline mb-3">
		<input type="text" name="clienteNome" placeholder="Buscar por Cliente" class="form-control mr-2" />
		<button type="submit" class="btn btn-primary">Buscar</button>
	</form>
	<br>

	<div class="d-block d-md-none">
		<ul class="list-group">
			<li th:each="agendamento : ${agendamentos}" class="list-group-item">
				<strong>ID:</strong> <span th:text="${agendamento.id}"></span><br>
				<strong>Data:</strong> <span th:text="${agendamento.dataHora}"></span><br>
				<strong>Cliente:</strong> <span th:text="${agendamento.cliente.nome}"></span><br>
				<strong>Pet:</strong> <span th:text="${agendamento.pet.nome}"></span><br>
				<strong>Serviço:</strong> <span th:text="${agendamento.servico.nome}"></span><br>
				<a th:href="@{/agendamentos/editar/{id}(id=${agendamento.id})}" class="btn btn-warning btn-sm">Editar</a>
				<a th:href="@{/agendamentos/excluir/{id}(id=${agendamento.id})}" class="btn btn-danger btn-sm">Deletar</a>
			</li>
		</ul>
	</div>


	<table class="table table-bordered d-none d-md-table">
		<thead>
		<tr>
			<th>ID</th>
			<th>Data</th>
			<th>Cliente</th>
			<th>Pet</th>
			<th>Serviço</th>
			<th>Ações</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="agendamento : ${agendamentos}">
			<td th:text="${agendamento.id}"></td>
			<td th:text="${#temporals.format(agendamento.dataHora, 'dd/MM/yyyy HH:mm')}"></td>
			<td th:text="${agendamento.cliente.nome}"></td>
			<td th:text="${agendamento.pet.nome}"></td>
			<td th:text="${agendamento.servico.nome}"></td>
			<td>
				<a th:href="@{/agendamentos/editar/{id}(id=${agendamento.id})}" class="btn btn-warning btn-sm">Editar</a>
				<a th:href="@{/agendamentos/excluir/{id}(id=${agendamento.id})}" class="btn btn-danger btn-sm">Deletar</a>
			</td>
		</tr>
		</tbody>
	</table>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>



